<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gcml.module_face_recognition">
    <!-- 相机 -->
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <!--网络-->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:name="com.gcml.common.app.lifecycle.App">
        <meta-data
            android:name="com.gcml.common.repository.imageloader.glide.GlideImageLoader"
            android:value="ImageLoader" />
        <meta-data
            android:name="com.gcml.common.app.quality.QualityAppLifecycleCallbacks"
            android:value="AppLifecycleCallbacks" />
        <meta-data
            android:name="debug.CCAppLifecycleCallbacks"
            android:value="AppLifecycleCallbacks" />
        <meta-data
            android:name="com.gcml.common.repository.RepositoryAppLifecycleCallbacks"
            android:value="AppLifecycleCallbacks" />
        <meta-data
            android:name="com.gcml.common.app.quality.AppActivityLifecycleCallbacks"
            android:value="ActivityLifecycleCallbacks" />
        <meta-data
            android:name="com.gcml.common.app.quality.AppFragmentLifecycleCallbacks"
            android:value="FragmentLifecycleCallbacks" />
        <meta-data
            android:name="debug.InitializationLifecycleCallbacks"
            android:value="AppLifecycleCallbacks" />

        <activity android:name="debug.MainActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterHead2XunfeiActivity"
            android:label="人脸注册Activity"
            android:screenOrientation="landscape" />

    </application>

</manifest>