<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gcml.lib_video_ksyplayer">

    <application>
        <meta-data
            android:name="com.gcml.lib_video_ksyplayer.app.VideoApp"
            android:value="AppLifecycle" />

        <activity
            android:name=".MeasureVideoPlayActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".NormalVideoPlayActivity"
            android:screenOrientation="landscape" />
    </application>
</manifest>
