<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gcml.module_video">

    <application>
        <activity
            android:name=".measure.MeasureVideoPlayActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".normal.NormalVideoPlayActivity"
            android:screenOrientation="landscape" />
    </application>

</manifest>