<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gcml.health.assistant">

    <application>
        <activity android:name=".ui.AbnormalAllTaskActivity"></activity>
        <activity android:name=".ui.AbnormalRecommendDetailsActivity" />
        <activity android:name=".ui.AbnormalAssistantActivity" />
    </application>

</manifest>