<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gcml.module_health_record">

    <application>
        <activity
            android:name=".ShowPDFActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".HealthRecordActivity"
            android:screenOrientation="landscape" />
    </application>
</manifest>
