<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gcml.module_health_record">

    <application>
        <meta-data android:name="com.gcml.module_health_record.app.HealthRecordApp"
            android:value="AppLifecycle"/>
        <activity android:name=".HealthRecordActivity" />
    </application>
</manifest>
