<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gcml.common.app">

    <application>
        <meta-data
            android:name="com.gcml.common.repository.imageloader.glide.GlideImageLoader"
            android:value="ImageLoader" />
        <meta-data
            android:name="com.gcml.common.app.quality.QualityAppLifecycleCallbacks"
            android:value="AppLifecycleCallbacks" />
        <meta-data
            android:name="com.gcml.common.app.CCAppLifecycleCallbacks"
            android:value="AppLifecycleCallbacks" />
        <meta-data
            android:name="com.gcml.common.repository.RepositoryAppLifecycleCallbacks"
            android:value="AppLifecycleCallbacks" />
        <meta-data
            android:name="com.gcml.common.app.quality.AppActivityLifecycleCallbacks"
            android:value="ActivityLifecycleCallbacks" />
        <meta-data
            android:name="com.gcml.common.app.quality.AppFragmentLifecycleCallbacks"
            android:value="FragmentLifecycleCallbacks" />
    </application>
</manifest>
