<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gcml.module_yzn">

    <application>
        <activity android:name=".ui.WenJuanActivity"></activity>
        <activity android:name=".ui.ApiTestActivity" />
        <activity
            android:name=".ui.YiZhiTangDetailActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".ui.ZenDuanActivity" />
    </application>

</manifest>