<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhang.hui.lib_recreation">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".tool.activtiy.ToolsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RecreationMainActivity" />
        <activity android:name=".tool.activtiy.BaikeActivity" />
        <activity android:name=".tool.activtiy.BaikeResultActivity" />
        <activity android:name=".tool.activtiy.CalculationActivity" />
        <activity android:name=".tool.activtiy.CookBookActivity" />
        <activity android:name=".tool.activtiy.CookBookResultActivity" />
        <activity android:name=".tool.activtiy.DateInquireActivity" />
        <activity android:name=".tool.activtiy.DateInquireResultActivity" />
        <activity android:name=".tool.activtiy.HistoryTodayActivity" />
        <activity android:name=".tool.activtiy.JieMengActivity" />
        <activity android:name=".tool.activtiy.JieMengRetultActivity" />
        <activity android:name=".tool.activtiy.RiddleActivit"></activity>
    </application>

</manifest>