<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gcml.module_detection">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <application>
        <activity
            android:name=".ConnectActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ChooseDetectionTypeActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".risk_assessment.ChooseDevicesActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".risk_assessment.RiskActivity"
            android:screenOrientation="landscape" />
    </application>
</manifest>
