<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.gcml.health.measure">
    <!--网络-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 蓝牙 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <application>
        <service android:name=".ecg.ReceiveService"/>
        <activity
            android:name="com.gcml.health.measure.single_measure.AllMeasureActivity"
            android:label="测量页面的容器Activity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.gcml.health.measure.single_measure.MeasureChooseDeviceActivity"
            android:label="单侧选择测量仪器界面"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.gcml.health.measure.ecg.XinDianDetectActivity"
            android:label="心电测量"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.gcml.health.measure.first_diagnosis.HealthIntelligentDetectionActivity"
            android:label="智能诊断"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ecg.ECGConnectActivity"
            android:label="新店蓝牙连接动画界面"
            android:screenOrientation="landscape" />
        <activity android:name=".single_measure.ShowMeasureBloodpressureResultActivity"
            android:screenOrientation="landscape"
            android:label="展示单测血压结果分析界面"/>
        <activity android:name=".first_diagnosis.FirstDiagnosisActivity"
            android:screenOrientation="landscape"
            android:label="新的首诊容器Activity"/>
        <activity android:name=".health_report_form.HealthReportFormActivity"
            android:screenOrientation="landscape"
            android:label="首诊结果报表"/>
        <activity android:name=".health_inquiry.HealthInquiryActivity"
            android:screenOrientation="landscape"
            android:label="健康调查"/>
        <activity android:name=".health_report_form.HealthReportFormDetailActivity"
            android:screenOrientation="landscape"
            android:label="结果分析详情页"/>
        <activity android:name=".hypertension_management.BloodpressureManagerActivity"
            android:screenOrientation="landscape"
            android:label="慢病管理中的血压测量"/>
        <activity android:name=".hypertension_management.BloodsugarManagerActivity"
            android:screenOrientation="landscape"
            android:label="慢病管理中的血糖测量"/>
        <activity android:name=".hypertension_management.WeightManagerActivity"
            android:screenOrientation="landscape"
            android:label="慢病管理中的体重测量"/>
        <activity android:name=".demo.DemoGoodDetailActivity"
            android:screenOrientation="landscape"
            android:label="演示推荐商品的页面"/>
        <activity android:name=".bloodpressure_habit.GetHypertensionHandActivity"
            android:screenOrientation="landscape"
            android:label="惯用手"/>
        <activity android:name=".measure_abnormal.HealthMeasureAbnormalActivity"
            android:screenOrientation="landscape"
            android:label="测量异常后确定原因的界面"/>
    </application>
</manifest>
