<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gcml.common.business">

    <application>
        <meta-data
            android:name="com.gcml.common.CommonApp"
            android:value="AppLifecycleCallbacks" />
        <meta-data
            android:name="com.gcml.common.CommonRepositoryConfig"
            android:value="RepositoryConfig" />
    </application>
</manifest>
