<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gcml.module_auth_hospital">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application>
        <activity android:name=".ui.register.InputNameActivity"></activity>
        <activity android:name=".ui.findPassWord.ForgetPassWordActivity" />
        <activity android:name=".ui.profile.UserInfoActivity" />
        <activity android:name=".ui.profile.UserCenterActivity" />
        <activity android:name=".ui.register.BindPhoneActivity" />
        <activity android:name=".ui.register.RegisterSuccessActivity" />
        <activity
            android:name=".ui.login.UserLogins2Activity"
            android:launchMode="singleTask" />
        <activity android:name=".ui.login.ScanIdCardLoginActivity" />
        <activity android:name=".ui.login.IDCardNuberLoginActivity" />
        <activity android:name=".ui.register.UserRegisters2Activity" />
        <activity android:name=".ui.register.ScanIdCardRegisterActivity" />
        <activity android:name=".ui.register.IDCardNuberRegisterActivity" />
        <activity android:name=".ui.register.SetPassWordActivity" />
        <activity android:name=".ui.login.IdCardInfoActivity" />
        <activity android:name=".ui.findPassWord.FindPassWordActivity" />
        <activity android:name=".ui.findPassWord.SetPassWord2Activity" />
        <activity android:name=".ui.profile.update.AlertNameActivity" />
        <activity android:name=".ui.profile.update.AlertAgeActivity" />
        <activity android:name=".ui.profile.update.AlertSexActivity" />
        <activity android:name=".ui.profile.update.AlertHeightActivity" />
        <activity android:name=".ui.profile.update.AlertWeightActivity" />
        <activity android:name=".ui.profile.update.AlertBloodTypeActivity" />
        <activity android:name=".ui.profile.update.AlertAddressActivity" />
        <activity android:name=".ui.profile.update.AlertIDCardActivity" />
    </application>

</manifest>