<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.han.referralproject"
    tools:overrideLibrary="com.witspring.mlrobot"> <!-- 解决下面这些库最低支持版本大于统一配置的最低版本 -->
    <uses-sdk tools:overrideLibrary="     tv.danmaku.ijk.media.player_arm64,     com.carlos.voiceline.mylibrary,     com.witspring.mlrobot,     com.megvii.faceppidcardui,     com.medlink.crash,     com.crazypumpkin.versatilerecyclerview.library,     com.linheimx.app.library,     com.vmloft.develop.library.tools,     com.example.fixedfloatwindow,     com.polidea.rxandroidble2,     com.carlos.voiceline.mylibrary,     com.gcml.lib_widget" />

    <!-- 控制呼吸灯，振动器等，用于新消息提醒 -->
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <!-- 如果需要实时音视频通话模块，下面的权限也是必须的。否则，可以不加 -->
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />

    <permission
        android:name="com.example.han.referralproject.permission.RECEIVE_MSG"
        android:protectionLevel="signature" />
    <!-- 接收 SDK 消息广播权限， 第三方 APP 接入时，请将 com.netease.nim.demo 替换为自己的包名 -->
    <uses-permission android:name="com.example.han.referralproject.permission.RECEIVE_MSG" />
    <uses-permission android:name="com.example.han.referralproject.permission.RECEIVE_MSG" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 获取手机录音机使用权限，听写、识别、语义理解需要用到此权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 读取网络信息状态 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <!-- 相机 -->
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
    <!-- 蓝牙 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <!-- 网络 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 录音 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 震动权限 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 访问网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 访问WIFI状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 访问精确定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 读取手机状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 写入外部存储 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 读取外部存储 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 安装卸载文件系统 -->
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <!-- 修改音频设置 -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <!-- 读取启动设置 -->
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <!-- 唤醒锁屏，音视频通话所需 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 开机自启动 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- 悬浮窗权限 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <!-- Bugly -->
    <!-- <uses-permission -->
    <!-- android:name="android.permission.READ_LOGS" -->
    <!-- tools:ignore="ProtectedPermissions" /> -->
    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="健康管家"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="icon,label">
        <service android:name=".new_music.MusicService" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <meta-data
            android:name="com.gcml.version"
            android:value="gcml_version_xien" />

        <!-- User defined.  For test only  用户自定义的广播接收器 -->
        <receiver
            android:name=".jipush.MyReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" /> <!-- Required  用户注册SDK的intent -->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> <!-- Required  用户接收SDK消息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> <!-- Required  用户接收SDK通知栏信息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> <!-- Required  用户打开自定义通知栏的intent -->
                <action android:name="cn.jpush.android.intent.CONNECTION" /> <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="com.example.han.referralproject" />
            </intent-filter>
        </receiver>

        <!-- <activity -->
        <!-- android:name="com.mob.tools.MobUIShell" -->
        <!-- android:configChanges="keyboardHidden|orientation|screenSize" -->
        <!-- android:theme="@android:style/Theme.Translucent.NoTitleBar" -->
        <!-- android:windowSoftInputMode="stateHidden|adjustResize" /> -->


        <!-- <meta-data -->
        <!-- android:name="Mob-AppKey" -->
        <!-- android:value="1d4fe3b73dbcb" /> -->
        <!-- <meta-data -->
        <!-- android:name="Mob-AppSecret" -->
        <!-- android:value="00332d99822550c22e6b75297bfd4c2c" /> -->

        <activity
            android:name=".temperature.TemperatureActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.WifiConnectActivity"
            android:screenOrientation="landscape" />
        <!--<activity-->
        <!--android:name="com.gcml.auth.ui.signup.UserProtocolActivity"-->
        <!--android:screenOrientation="landscape" />-->
        <activity
            android:name=".activity.PreviousHistoryActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.MessageActivity"
            android:screenOrientation="landscape" />-
        <activity
            android:name=".activity.DetectActivity"
            android:screenOrientation="landscape" />

        <service
            android:name=".bluetooth.BluetoothLeService"
            android:enabled="true" />

        <activity
            android:name=".speechsynthesis.SpeechSynthesisActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.OfflineActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".recyclerview.RecoDocActivity"
            android:screenOrientation="landscape">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN"/> -->
            <!-- <category android:name="android.intent.category.HOME"/> -->
            <!-- <category android:name="android.intent.category.LAUNCHER"/> -->
            <!-- <category android:name="android.intent.category.DEFAULT"/> -->
            <!-- </intent-filter> -->

        </activity>
        <activity
            android:name=".WelcomeActivity"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:theme="@style/WelcomeTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".login.PerInfoActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".facerecognition.RegisterVideoActivity"
            android:screenOrientation="landscape"
            android:taskAffinity="com.medlink.fastsignup" />
        <activity
            android:name=".recyclerview.DoctorMesActivity"
            android:screenOrientation="landscape" />

        <service
            android:name="com.medlink.danbogh.alarm.AlarmService"
            android:enabled="true" />

        <receiver android:name="com.medlink.danbogh.alarm.AlarmReceiver">
            <intent-filter>
                <action android:name="com.medlink.intent.Alarm" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.medlink.danbogh.alarm.AlarmList2Activity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.medlink.danbogh.alarm.AlarmDetail2Activity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.medlink.danbogh.alarm.AlarmActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.SymptomAnalyseActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.SymptomAnalyseResultActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".recyclerview.AppraiseActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".facerecognition.HeadiconActivity"
            android:screenOrientation="landscape"
            android:taskAffinity="com.medlink.fastsignup" />
        <activity
            android:name=".recyclerview.DoctorappoActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".recyclerview.AddAppoActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.gcml.old.auth.signin.ChooseLoginTypeActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.gcml.old.auth.signin.SignInActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.gcml.old.auth.signin.FindPasswordActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.gcml.old.auth.signin.SetPasswordActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.gcml.old.auth.register.SignUp1NameActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.gcml.old.auth.register.SignUp2GenderActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.gcml.old.auth.register.SignUp3AddressActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.gcml.old.auth.register.SignUp4IdCardActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden|adjustNothing" />
        <activity
            android:name="com.gcml.old.auth.register.SignUp5MobileVerificationActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.gcml.old.auth.register.SignUp6PasswordActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.gcml.old.auth.register.SignUp7HeightActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.gcml.old.auth.register.SignUp8WeightActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.gcml.old.auth.register.SignUp9BloodTypeActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.gcml.old.auth.register.SignUp10EatActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.gcml.old.auth.register.SignUp11SmokeActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.gcml.old.auth.register.SignUp12DrinkActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.gcml.old.auth.register.SignUp13SportsActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.gcml.old.auth.register.SignUp14DiseaseHistoryActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.gcml.old.auth.register.simple.SignUp01NameActivity"
            android:taskAffinity="com.medlink.fastsignup"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name="com.gcml.old.auth.register.simple.SignUp03PasswordActivity"
            android:taskAffinity="com.medlink.fastsignup" />
        <activity
            android:name="com.gcml.old.auth.register.simple.SignUp02MobileVerificationActivity"
            android:taskAffinity="com.medlink.fastsignup" />
        <activity
            android:name=".recharge.PayActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".recharge.PayInfoActivity"
            android:screenOrientation="landscape" />

        <meta-data
            android:name="com.netease.nim.appKey"
            android:value="a114ad1e5d86c2d3fa83d2a15bbc29cc" />
        <!-- 声明网易云通信后台服务，如需保持后台推送，使用独立进程效果会更好。 -->
        <service
            android:name="com.netease.nimlib.service.NimService"
            android:process=":core" />
        <!-- 运行后台辅助服务 -->
        <service
            android:name="com.netease.nimlib.service.NimService$Aux"
            android:process=":core" />
        <!-- 声明网易云通信后台辅助服务 -->
        <service
            android:name="com.netease.nimlib.job.NIMJobService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:process=":core" />
        <!--
             网易云通信SDK的监视系统启动和网络变化的广播接收器，用户开机自启动以及网络变化时候重新登录，
            保持和 NimService 同一进程
        -->
        <receiver
            android:name="com.netease.nimlib.service.NimReceiver"
            android:exported="false"
            android:process=":core">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <!-- 网易云通信进程间通信 Receiver -->
        <receiver android:name="com.netease.nimlib.service.ResponseReceiver" />
        <!-- 网易云通信进程间通信service -->
        <service android:name="com.netease.nimlib.service.ResponseService" />

        <receiver android:name="com.medlink.danbogh.call2.InComingCallReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.medlink.danbogh.call2.NimCallActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape" />

        <activity
            android:name="com.medlink.danbogh.alarm.ReminderActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.medlink.danbogh.call2.DoctorSignInActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.DiseaseDetailsActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".video.VideoListActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".shopping.ShopListActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".shopping.GoodDetailActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.SymptomsActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.BodychartActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".shopping.OrderListActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".recyclerview.OnlineDoctorListActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".recyclerview.DoctorAskGuideActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".recharge.DefineActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustResize" />

        <service
            android:name=".floatingball.AssistiveTouchService"
            android:process=":serviceY" />
        <service android:name=".floatball.MyService" />

        <activity
            android:name=".recyclerview.DoctorAlarmActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.gcml.old.auth.register.ConfirmContractActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.gcml.old.auth.personal.PersonDetailActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.SelectXuetangTimeActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".recyclerview.HistoryActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".recyclerview.CheckContractActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.MarketActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".new_music.MusicPlayActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".measure.InstructionsActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".measure.OnMeasureActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".measure.MeasureXueyaResultActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".measure.MeasureXuetangResultActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".radio.RadioActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".children.ChildEduHomeActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".children.cartoon.ChildEduCartoonActivity" />
        <activity android:name=".children.entertainment.ChildEduEntertainmentActivity" />
        <activity android:name=".children.study.ChildEduStudyActivity" />
        <activity android:name=".children.entertainment.ChildEduSheetListActivity" />
        <activity android:name=".children.entertainment.ChildEduSheetDetailsActivity" />
        <activity android:name=".children.study.ChildEduPoemListActivity" />
        <activity android:name=".children.study.ChildEduWordsActivity" />
        <activity
            android:name=".children.study.ChildEduStoriesActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustNothing|stateHidden" />
        <activity android:name=".children.study.ChildEduBrainTeaserActivity" />
        <activity android:name=".children.study.ChildEduWhyActivity" />
        <activity android:name=".children.study.ChildEduPoemDetailsActivity" />
        <activity
            android:name=".activity.MessageCenterActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.MessageDetailsActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".intelligent_diagnosis.DailyIntakeActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".intelligent_diagnosis.WeeklyReportActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".intelligent_diagnosis.MonthlyReportActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".intelligent_diagnosis.DeleteGroupActivity"
            android:screenOrientation="landscape">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->
                <!--<category android:name="android.intent.category.LAUNCHER" />-->
                <!--<category android:name="android.intent.category.DEFAULT" />-->
            <!--</intent-filter>-->
        </activity>
        <activity
            android:name=".tool.JieMengActivity"
            android:screenOrientation="landscape">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN"/> -->


            <!-- <category android:name="android.intent.category.HOME"/> -->
            <!-- <category android:name="android.intent.category.LAUNCHER"/> -->
            <!-- <category android:name="android.intent.category.DEFAULT"/> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".children.study.ChildEduStories2Activity" />
        <activity
            android:name=".tool.DateInquireActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".tool.CookBookActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".tool.CookBookResultActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".tool.JieMengRetultActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".tool.DateInquireResultActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".tool.BaiKeActivtiy"
            android:screenOrientation="landscape" />
        <activity
            android:name=".tool.BaikeResultActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".tool.CalculationActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".tool.RiddleActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".tool.HistoryTodayActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".settting.activity.SettingActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".settting.activity.VoiceSettingActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".settting.activity.AboutActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".tool.ToolsActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".children.entertainment.ChildEduJokesActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".settting.activity.SetKeyWordActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".settting.activity.VoicerSettingDemoActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".settting.activity.CustomKeyWordsActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".settting.activity.KeyWordEditActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".settting.activity.SetKeyWord2Activity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".settting.activity.KeyWordEdit2Activity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".blood_pressure_risk_assessment.HypertensionRiskActivity"
            android:screenOrientation="landscape">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.HOME" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- <category android:name="android.intent.category.DEFAULT" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".blood_pressure_risk_assessment.PrimaryBloodPressureRiskResultsActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".blood_pressure_risk_assessment.SecondaryBloodPressureRiskResultsActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".measure.New_MeasureXuetangResultActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".blood_sugar_risk_assessment.BloodsugarRiskAssessmentActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".blood_sugar_risk_assessment.BloodsugarRiskAssessmentResultActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".intelligent_diagnosis.FoodMaterialDetailActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".intelligent_diagnosis.SportPlanDetailActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".intelligent_diagnosis.BloodsugarWeeklyReportActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".health_manager_program.TreatmentPlanActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".intelligent_diagnosis.BloodsugarMonthlyReportActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".physicalexamination.activity.ChineseMedicineMonitorActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".physicalexamination.activity.MonitorResultActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.gcml.module_health_record.HealthRecordActivity"
            android:label="历史测量数据界面"
            android:screenOrientation="landscape" />
        <activity android:name=".hypertensionmanagement.activity.OriginHypertensionTipActivity" />
        <activity android:name=".hypertensionmanagement.activity.NormalHighTipActivity" />
        <activity android:name=".hypertensionmanagement.activity.PressureFlatTipActivity" />
        <activity android:name=".hypertensionmanagement.activity.PressureNornalTipActivity" />
        <activity android:name=".hypertensionmanagement.activity.SlowDiseaseManagementActivity" />
        <activity android:name=".hypertensionmanagement.activity.SlowDiseaseManagementTipActivity" />
        <activity android:name=".hypertensionmanagement.activity.BasicInformationActivity" />
        <activity android:name=".hypertensionmanagement.activity.PrimaryHypertensionActivity" />
        <activity android:name=".hypertensionmanagement.activity.HypertensionTipActivity" />
        <activity android:name=".hypertensionmanagement.activity.HypertensionActivity" />
        <activity android:name=".hypertensionmanagement.activity.HasDiseaseOrNotActivity" />
        <activity
            android:name=".homepage.MainActivity"
            android:label="20180730主页面"
            android:launchMode="singleTask"
            android:screenOrientation="landscape" />
        <activity
            android:name=".measure.NewMeasureBloodpressureResultActivity"
            android:label="单次血压测量结果展示页面"
            android:screenOrientation="landscape" />
        <activity android:name=".hypertensionmanagement.activity.IsEmptyStomachOrNotActivity" />
        <activity android:name=".hypertensionmanagement.activity.NormalHightActivity" />
        <activity android:name=".hypertensionmanagement.activity.BloodPressureMeasureActivity" />
        <activity android:name=".hypertensionmanagement.activity.BloodClucoseMeasureActivity" />
        <activity android:name=".hypertensionmanagement.activity.WeightMeasureActivity" />
        <activity android:name=".settting.activity.FactoryTestActivity" />
        <activity android:name=".settting.activity.ScreenPointActivity" />
        <activity android:name=".settting.activity.ScreenTouchActivity" />
        <activity android:name=".tcm.activity.HealthManagementResultActivity" />
        <activity android:name=".tcm.activity.OlderHealthManagementSerciveActivity" />
        <activity android:name=".tcm.SymptomCheckActivity" />
        <activity android:name=".settting.activity.CameraActivity" />
        <activity android:name=".hypertensionmanagement.activity.DetecteTipActivity" />
        <!--<activity android:name=".recommend.RecommendActivity" />-->
        <activity android:name=".searchmaket.activity.SearchGoodsActivity" />
    </application>

</manifest>