<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ml.edu">

    <application>

        <activity
            android:name=".old.TheOldHomeActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name=".old.music.TheOldMusicActivity"
            android:screenOrientation="landscape" />

    </application>

</manifest>