<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.module_control_volume">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application>
        <activity
            android:name=".wifi.WifiDisconnectedActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.AboutActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.CameraActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.CustomKeyWordsActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.KeyWordEditActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.KeyWordEdit2Activity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.ScreenPointActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.ScreenTouchActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.SetKeyWordActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.SetKeyWord2Activity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.SettingActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <!--gcml://gcmlrt.com:8080/module/control/setting/activity-->
                <data
                    android:host="gcmlrt.com"
                    android:path="/module/control/setting/activity"
                    android:port="8080"
                    android:scheme="gcml" />
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.VoicerSettingDemoActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.VoiceSettingActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".wifi.WifiConnectActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".robot.SpeechSynthesisActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".wifi.WifiDetailActivity"
            android:screenOrientation="landscape" />
    </application>

</manifest>