<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.gcml.health.measure">
    <!--网络-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 蓝牙 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <application>
        <service android:name=".ecg.ReceiveService" />

        <activity
            android:name="com.gcml.health.measure.single_measure.AllMeasureActivity"
            android:label="测量页面的容器Activity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.gcml.health.measure.single_measure.MeasureChooseDeviceActivity"
            android:label="单侧选择测量仪器界面"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ecg.ECGConnectActivity"
            android:label="新店蓝牙连接动画界面"
            android:screenOrientation="landscape" />
        <activity
            android:name=".single_measure.ShowMeasureBloodpressureResultActivity"
            android:label="展示单测血压结果分析界面"
            android:screenOrientation="landscape" />
        <activity
            android:name=".first_diagnosis.FirstDiagnosisActivity"
            android:label="新的首诊容器Activity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".health_report_form.HealthReportFormActivity"
            android:label="首诊结果报表"
            android:screenOrientation="landscape" />
        <activity
            android:name=".health_inquiry.HealthInquiryActivity"
            android:label="健康调查"
            android:screenOrientation="landscape" />
        <activity
            android:name=".health_report_form.HealthReportFormDetailActivity"
            android:label="结果分析详情页"
            android:screenOrientation="landscape" />
        <activity
            android:name=".hypertension_management.BloodpressureManagerActivity"
            android:label="慢病管理中的血压测量"
            android:screenOrientation="landscape" />
        <activity
            android:name=".hypertension_management.BloodsugarManagerActivity"
            android:label="慢病管理中的血糖测量"
            android:screenOrientation="landscape" />
        <activity
            android:name=".hypertension_management.WeightManagerActivity"
            android:label="慢病管理中的体重测量"
            android:screenOrientation="landscape" />
        <activity
            android:name=".demo.DemoGoodDetailActivity"
            android:label="演示推荐商品的页面"
            android:screenOrientation="landscape" />
        <activity
            android:name=".bloodpressure_habit.GetHypertensionHandActivity"
            android:label="惯用手"
            android:screenOrientation="landscape" />
        <activity
            android:name=".measure_abnormal.HealthMeasureAbnormalActivity"
            android:label="测量异常后确定原因的界面"
            android:screenOrientation="landscape" />
        <activity
            android:name=".test.TestWuhuaqiActivity"
            android:screenOrientation="landscape" />
    </application>
</manifest>
