<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.module_person" >
    <application>
        <activity
            android:name="com.example.module_person.ui.AlertHeightActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.example.module_person.ui.AlertWeightActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.example.module_person.ui.AlertSportActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.example.module_person.ui.AlertSmokeActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.example.module_person.ui.AlertEatingActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.example.module_person.ui.AlertDrinkingActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.example.module_person.ui.AlertMHActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.example.module_person.ui.AlertAddressActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.example.module_person.ui.MyBaseDataActivity"
            android:screenOrientation="landscape" />
    </application>
</manifest>
