<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.module_login" >

    <application>
        <activity
            android:name="com.example.module_login.ui.SignInActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.example.module_login.ui.AgreementActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.example.module_login.ui.ChooseLoginTypeActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.example.module_login.ui.FindPasswordActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.example.module_login.ui.SetPasswordActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" />
    </application>
</manifest>
