<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gcml.auth">

    <application
        android:name="com.gcml.common.app.lifecycle.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.AuthActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.signin.SignInActivity" />
        <activity android:name=".ui.findpassword.FindPasswordActivity" />
        <activity android:name=".ui.findpassword.SetPasswordActivity" />
        <activity android:name=".ui.signup.SignUpActivity" />
        <activity android:name=".ui.signup.UserProtocolActivity" />
        <activity android:name=".ui.profile.SimpleProfileActivity"/>
        <activity android:name=".ui.profile.Profile2Activity" />
        <activity android:name=".ui.profile.ProfileInfoActivity"/>

        <activity android:name="com.gcml.auth.ui.profile.update.AlertNameActivity" />
        <activity android:name="com.gcml.auth.ui.profile.update.AlertAgeActivity" />
        <activity android:name="com.gcml.auth.ui.profile.update.AlertSexActivity" />
        <activity android:name="com.gcml.auth.ui.profile.update.AlertHeightActivity" />
        <activity android:name="com.gcml.auth.ui.profile.update.AlertWeightActivity" />
        <activity android:name="com.gcml.auth.ui.profile.update.AlertBloodTypeActivity" />
        <activity android:name="com.gcml.auth.ui.profile.update.AlertAddressActivity" />
        <activity android:name="com.gcml.auth.ui.profile.update.AlertIDCardActivity" />
        <activity android:name="com.gcml.auth.ui.profile.update.AlertSportActivity" />
        <activity android:name="com.gcml.auth.ui.profile.update.AlertSmokeActivity" />
        <activity android:name="com.gcml.auth.ui.profile.update.AlertEatingActivity" />
        <activity android:name="com.gcml.auth.ui.profile.update.AlertDrinkingActivity" />
        <activity android:name="com.gcml.auth.ui.profile.update.AlertMHActivity" />
    </application>

</manifest>