<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gcml.module_hypertension_manager">

    <application>
        <activity
            android:name=".ui.plan.FoodMaterialDetailActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.plan.SportPlanDetailActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.plan.TreatmentPlanActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.BasicInformationActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.DetecteTipActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.HasDiseaseOrNotActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.HypertensionActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.HypertensionTipActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.IsEmptyStomachOrNotActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.NormalHightActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.NormalHighTipActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.OriginHypertensionTipActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.PressureFlatTipActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.PressureNornalTipActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.PrimaryHypertensionActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.SlowDiseaseManagementActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.SlowDiseaseManagementTipActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".zhongyi.ChineseMedicineMonitorActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".zhongyi.MonitorResultActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".zhongyi.HealthManagementResultActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".zhongyi.OlderHealthManagementSerciveActivity"
            android:screenOrientation="landscape" />
    </application>
</manifest>
