<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gcml.module_doctor_advisory">

    <application>
        <activity
            android:name=".ui.CheckContractActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.ConfirmContractActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.DiseaseDetailsActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.DoctorappoActivity2"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.DoctorAskGuideActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.DoctorMesActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.MessageActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.OfflineActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.OnlineDoctorListActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.RecoDocActivity"
            android:screenOrientation="landscape" />
    </application>
</manifest>
