<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gcml.mod_doc_advisory">

    <application>
        <activity
            android:name="com.gcml.mod_doc_advisory.ui.CheckContractActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.gcml.mod_doc_advisory.ui.ConfirmContractActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.gcml.mod_doc_advisory.ui.DiseaseDetailsActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.gcml.mod_doc_advisory.ui.DoctorappoActivity2"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.gcml.mod_doc_advisory.ui.DoctorAskGuideActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.gcml.mod_doc_advisory.ui.DoctorMesActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.gcml.mod_doc_advisory.ui.MessageActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.gcml.mod_doc_advisory.ui.OfflineActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.gcml.mod_doc_advisory.ui.OnlineDoctorListActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.gcml.mod_doc_advisory.ui.RecoDocActivity"
            android:screenOrientation="landscape" />
    </application>
</manifest>
